@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ImageObjectDetection</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Hubert Witkowski</a>.</p>
    <a href="/HelloWorld">Przejdż do strony</a>
</div>
