@{
    ViewData["Title"] = "ImageObjectDetection";
}

<h2>Wysyłanie zdjęcia</h2>

<p>Wyślij plik</p>
<form action="/ImageObjectDetection/Wynik">
    <input type="file" id="myFile" name="inputFile">
    <br />
    <br />
    <input type="submit">
</form>