@{
    ViewData["Title"] = "ImageObjectDetection";
}

<h2>Wysyłanie zdjęcia</h2>

<p>Wyślij plik</p>
<form action="/action_page.php">
    <input type="file" id="myFile" name="filename">
    <br />
    <br />
    <input type="submit">
</form>